.app {
  text-align: center;
  background-color: #282c34;
  height: 100vh;
  color: white;
}

.app-header {
  background-color: #333436;
  border-bottom: 1px solid white;
  min-height: 2vh;
  text-align: left;
  font-size: calc(10px + 2vmin);
  padding: 1rem;
}

.content {
  height: calc(96vh - 4rem);
  padding: 1rem;
}
